{% extends 'halaman/base.html' %}
{% load static %}

{% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg9.jpg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">About Us</h1>
                    <h4>Enjoy your visit on my website.</h4>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="about-description text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h5 class="description">
                        Welcome to Naila.com, your trustworthy source of recent news from all over the world. We are committed to give you accurate, balancrd and in-depth informations regarding the important events around you.</h5>
                </div>
            </div>
        </div>
        <div class="about-team team-1">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Commitment</h2>
                    <h5 class="description">I am committed to always improving the service quality and adapting into the technology development that suits the reader neccessities. Critics and Suggestions from you, the reader are highly anticipated for me in order to improve thus platform in accordance of your needs. Thank you for trusting Naila.com as your trustworthy source of news. Together we create a well informed and knowldgeable society within this platform.</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="{% static 'halaman/assets/img/faces/NAILA.jpeg' %}" /></a>
                        </div>

                        <div class="card-content">
                            <h4 class="card-title">Siti Naila Fitriah</h4>
                            <h6 class="category text-muted">Mahasiswa</h6>

                            <p class="card-description">
                                Hi, I am a 4th semester student who is pursuing my dream.
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}